h1{
	font-family: Garamond, serif;
	font-size: 28px;
	letter-spacing: 6px;
	word-spacing: 1.6px;
	color: #8C76FF;
	font-weight: 400;
	text-decoration: overline solid rgb(68, 68, 68);
	font-style: italic;
	font-variant: small-caps;
	text-transform: capitalize;
	text-align: center;
}